<GameInfo>
	<RulesetUnSupportedValues>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="5" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="6" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="7" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="8" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="9" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="10" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="11" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="12" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="13" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="14" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="15" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="16" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="17" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="18" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="19" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
		<Row Ruleset="RULESET_EXPANSION_2" PlayerId="20" Domain="Players:Expansion2_Players" Value="LEADER_SPECTATOR"/>
	</RulesetUnSupportedValues>
	<Parameters>
		<Row ParameterId="BSM_SP" Name="BSM_SP_NAME" Description="BSM_SP_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Game" ConfigurationId="BSM_SP" GroupId="AdvancedOptions" SupportsLANMultiplayer="1" SupportsInternetMultiplayer="0" SupportsHotSeat="0" SupportsPlayByCloud="0" SupportsSinglePlayer="1" ChangeableAfterGameStart="1" SortIndex="2900" />
		<Row ParameterId="BSM_TOURNAMENT" Name="BSM_TOURNAMENT_NAME" Description="" Domain="text" Hash="0"  ConfigurationGroup="Game" ConfigurationId="BSM_TOURNAMENT" GroupId="TournamentOptions" SupportsSinglePlayer="0" SupportsPlayByCloud="0" SupportsLANMultiplayer="1" SupportsInternetMultiplayer="1" SupportsHotSeat="0" SortIndex="30" />
		<Row ParameterId="BSM_TEAM1" Name="BSM_TEAM1_NAME" Description="" Domain="text"  Hash="0" ConfigurationGroup="Game" ConfigurationId="BSM_TEAM1" GroupId="TournamentOptions" SupportsSinglePlayer="0" SupportsPlayByCloud="0" SupportsLANMultiplayer="1" SupportsInternetMultiplayer="1" SupportsHotSeat="0" SortIndex="31" />
		<Row ParameterId="BSM_TEAM2" Name="BSM_TEAM2_NAME" Description="" Domain="text"  Hash="0" ConfigurationGroup="Game" ConfigurationId="BSM_TEAM2" GroupId="TournamentOptions" SupportsSinglePlayer="0" SupportsPlayByCloud="0" SupportsLANMultiplayer="1" SupportsInternetMultiplayer="1" SupportsHotSeat="0" SortIndex="32" />
		<Row ParameterId="BSM_TEAM3" Name="BSM_TEAM3_NAME" Description="" Domain="text"  Hash="0" ConfigurationGroup="Game" ConfigurationId="BSM_TEAM3" GroupId="TournamentOptions" SupportsSinglePlayer="0" SupportsPlayByCloud="0" SupportsLANMultiplayer="1" SupportsInternetMultiplayer="1" SupportsHotSeat="0" SortIndex="33" />
		<Row ParameterId="BSM_TEAM4" Name="BSM_TEAM4_NAME" Description="" Domain="text"  Hash="0" ConfigurationGroup="Game" ConfigurationId="BSM_TEAM4" GroupId="TournamentOptions" SupportsSinglePlayer="0" SupportsPlayByCloud="0" SupportsLANMultiplayer="1" SupportsInternetMultiplayer="1" SupportsHotSeat="0" SortIndex="34" />
	</Parameters>
</GameInfo>